<!-- myapp/templates/myapp/index.html -->
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>User List</title>
</head>

<body>
	<h1>User List</h1>
	<table border="1">
		<thead>
			<tr>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Email</th>
			</tr>
		</thead>
		<tbody>
			{% for user in users %}
			<tr>
				<td>{{ user.first_name }}</td>
				<td>{{ user.last_name }}</td>
				<td>{{ user.email }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</body>

</html>

<!-- <!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Index Page</title>
</head>

<body>
	<h1>Welcome to the Index Page</h1>
</body>

</html> -->